contentWidth = 60em
accentCol = #333

*
	box-sizing border-box
	vertical-align top

body
	margin 0
	font-family sans-serif
	background-color #000
	color #fff

main
	margin auto
	max-width contentWidth
	padding 1em

footer
	background-color accentCol
	div
		margin auto
		max-width contentWidth
		padding 1em

h2, tbody, tr+tr>td
	border-top 1px solid accentCol

h2
	padding-top .25em

table
	border-collapse collapse
	td
		padding .25em .5em

a
	color aqua