contentWidth = 60em

footerContentHeight = 1.5em
footerVertPadding = 0.75em
footerHeight = footerContentHeight + 2*footerVertPadding

accentCol = #333

*
	box-sizing border-box
	vertical-align top

body
	margin 0
	font-family sans-serif
	background-color #000
	color #fff

header, main, footer
	&>div
		margin auto
		padding-left 1em
		padding-right 1em
		max-width contentWidth

#social-links
	padding .25em 0
	float right

	[class^="bi-"]
		margin 0 0.25em
		font-size 2em

main
	padding-bottom 1em

footer
	background-color accentCol
	&>div
		padding-top footerVertPadding
		padding-bottom footerVertPadding
		line-height footerContentHeight

h2, tbody, tr+tr>td
	border-top 1px solid accentCol

h2
	padding-top .25em

table
	border-collapse collapse
	td
		padding .25em .5em

a
	color aqua