* {
	box-sizing: border-box;
	vertical-align: top;
}
body {
	margin: 0;
	font-family: sans-serif;
	background-color: #000;
	color: #fff;
}
main {
	margin: auto;
	max-width: 75em;
	padding: 1em;
}
a {
	color: aqua;
}
table {
	border-collapse: collapse;
}
td {
	padding: .25em .5em
}
tbody, tr+tr>td {
	border-top: 1px solid #555;
}